size($width, $height = $width) {
    width: $width
    height: $height
}

button-reset()
    padding: 0
    background-color: transparent
    border: none
    outline: none

sprite2x($sprite) {
    spriteImage($sprite)
    background-position: ($sprite[2] / 2) ($sprite[3] / 2);
    width: ($sprite[4] / 2)
    height: ($sprite[5] / 2)
    background-size: ($spritesheet_width / 2) ($spritesheet_height / 2)
}

sprite2x-rem($sprite) {
    spriteImage($sprite)
    background-position: rem($sprite[2] / 2) rem($sprite[3] / 2);
    width: rem($sprite[4] / 2)
    height: rem($sprite[5] / 2)
    background-size: rem($spritesheet_width / 2) rem($spritesheet_height / 2)
}

clearfix()
    &:after
        width: 100%
        display: table
        content: ''

