// Axis setting

$font-stack = Verdana, Geneva, Arial, helvetica, sans-serif
$font-size = 11
$font-color = #2a2a2a
$font-spacing = -0.15px

// Rapture setting

rupture.enable-em-breakpoints = true
rupture.mobile-cutoff = 768px

// colors

$page-bg-color = #d0d0d0
$page-color = #fff
$blue-color = #347bbc

$gray-font-color = #7a7a7a

//mobile
$font-size-mobile = 3.3333vw

$scaling-factor-less = 0.75
$scaling-factor-gain = 1.25

$gray-font-color-mobile = #b0b0b0
