.button
    display: inline-block
    text-align: center
    padding: 0 rem(13px)
    line-height: rem(18px)
    border: none
    background-color: $blue-color
    color: #ffffff
    font-family: $font-stack
    font-size: 11px
    border-radius: 1px
    cursor: pointer
    outline: none
    hover-darken: 10%
    transition: background-color .3s ease

    &_bold
        font-weight: 700
