.button
    padding: 0 rem(13px)
    line-height: rem(19px)
    border: none
    background-color: $blue-color
    color: #ffffff
    border-radius: 1px
    cursor: pointer
    letter-spacing: 0.55px;
    hover-darken: 10%
    outline: none
    transition: background-color .3s ease
