.button
    padding: 0 rem(13px)
    line-height: rem(18px)
    border: none
    background-color: $blue-color
    color: #ffffff
    border-radius: 2px
    cursor: pointer
    hover-fade: .8
    transition: opacity .3s ease
    will-change: opacity
