@require 'radio'

$checkbox-blue-color = #529af8

.checkbox
    @extend .radio
    relative()
    text-align: left

    &__input
        size: 14px
        opacity: 1
        vertically-align()
        absolute()

        &:checked + ^[0]__label:before
            background-color: $checkbox-blue-color
            border-color: $checkbox-blue-color

        &:focus + ^[0]__label:before
          border-color: $checkbox-blue-color

    &__label

        &:before
            display: none

        &:after
            display: none

        &:hover

            &:before
                border-color: $checkbox-blue-color
