@require 'radio'

$checkbox-blue-color = #529af8

.checkbox
    @extend .radio

    &__input
        size: 14px
        opacity: 1

        &:checked + ^[0]__label:before
            background-color: $checkbox-blue-color
            border-color: $checkbox-blue-color

        &:focus + ^[0]__label:before
          border-color: $checkbox-blue-color

    &__label

        &:before
            display: none
            border-radius: 4px

        &:after
            display: none
            absolute: left 5px
            size: 5px 8px
            border-radius: 0
            background-color: transparent
            border-bottom: 1.5px solid #fff
            border-right: 1.5px solid #fff
            margin-left: -1px
            transform: rotate(45deg) translate(-3px, -4px)

        &:hover

            &:before
                border-color: $checkbox-blue-color
