.input
    color: #515251
    padding: 0
    line-height: rem(15px)
    height: rem(17px)
    border: 1px solid #515251
    font-family: $font-stack
    text-align: left
    width: 154px
    outline: none
