.link
    text-decoration: none
    color: $blue-color
    border-bottom: 1px solid $blue-color
    transition: border-color .3s ease

    &:hover
        border-color: transparent

    &_color_gray
        color: $gray-font-color
        border-color: $gray-font-color
