mixin font-switch()
    .font-switch.js-font-switch(class= attributes.class)
        .font-switch__option._size_11._active(data-size="14") A
        .font-switch__option._size_13(data-size="16") A
        .font-switch__option._size_15(data-size="18") A
