$input-text-color = #515251

.calculator
    width: 100%
    border: 1px solid #969696
    border-radius: 4px

    &__display
        relative()
        padding: rem(3px)

    &__memory
        absolute: top rem(4px) left rem(11px)
        line-height: rem(14px)
        display: none

    &__input
        padding: 0 rem(8px) 0 rem(25px)
        width: 100%
        line-height: rem(28px)
        height: rem(30px)
        border: 1px solid #b3b3b3
        border-radius: 4px
        text-align: right
        fs: 15px
        box-shadow: inset 0 0 3px rgba(0, 0, 0, .25)
        font-family: $font-stack
        color: $input-text-color
        ellipsis()

    &__keyboard
        padding: rem(3px) rem(7px) rem(8px)

        &-service
            text-align: right

            .calculator__button

                &:not(:first-child)
                    margin-left: rem(6px)

        &-row
            display: flex
            justify-content: space-between

            &:not(:first-child)
                margin-top: rem(7px)

    &__button
        display: inline-block
        padding: 0
        border: 1px solid #c7c7c7
        border-radius: 4px
        line-height: rem(22px)
        size: rem(29px) rem(24px)
        background-color: #fff
        color: $input-text-color
        font-family: $font-stack
        fs: 9.8px
        text-align: center
        cursor: pointer
        transition: background-color .3s ease, border-color .1s ease, box-shadow .1s ease

        &:hover
            background-color: darken(#fff, 2%)

        &:active
            border-color: darken(#c7c7c7, 5%)
            box-shadow: inset 0 1px .5px rgba(darken(#c7c7c7, 5%), .8)
            padding: 0

        &_size_big
            width: rem(70px)

