.footer
    padding-top: rem(7px)
    padding-bottom: rem(7px)
    clearfix()

    +below(650px)
        //padding-top: rem(4px)
        //padding-bottom: rem(4px)

    &__title
        float: left

    &__copyright
        float: right

    &__title
    &__copyright
        color: $gray-font-color
        line-height: rem(16px)
        fs: rem(11px)

        +below(650px)
            float: none
