.test
    relative()
    display: flex
    width: 100%
    flex-flow: column wrap

    &__progress
        absolute: top 0 left 0
        height: rem(3px)
        background-color: $blue-color

        &-point
            absolute: bottom calc(100% + 2px) right -8px
            color: #fff
            fs: 6px
            font-weight: 500
            text-align: center
            sprite2x($point);

            span
                display: inline-block
                padding-top: rem(5px)

    &__content
        border-top: rem(3px) solid #e4e4e4
        border-bottom: rem(3px) solid #e4e4e4
        padding-bottom: rem(36px)
        flex: 1 0 auto

    &__count
        margin-top: rem(7px)
        font-weight: 700

    &__question
        font-weight: 700
        padding-top: rem(27px)
        padding-bottom: rem(15px)
        max-width: 640px
        line-height: rem(17px)
        letter-spacing: -.1px

    &__answer
        max-width: 450px
        letter-spacing: 0.05px

    &__answer + &__answer
        margin-top: rem(8px)

    &__control
        padding-top: rem(10px)
        flex: 0 0 auto
        clearfix()

        &-buttons

            +below(500px)
                display: flex
                flex-flow: row nowrap
                justify-content: space-between
                padding-top: rem(20px)
                clear: both

            +below('xs')
                flex-direction: column

    &__feedback
        relative()
        float: right
        color: $blue-color
        text-decoration: none
        margin-left: rem(15px)
        margin-top: rem(4px)
        line-height: rem(13px)
        border-bottom: 1px solid $blue-color
        hover-color: darken($blue-color, 20%) true
        transition: color .3s ease

        &:before
            absolute: top rem(1px) left rem(-15px)
            content: ''
            sprite2x($attention)

    &__button

        +below(500px)
            flex: 0 0 47%

        +below('xs')
            line-height: rem(40px)

        + .test__button
            margin-left: rem(8px)

            +below(500px)
                margin-left: rem(0px)

            +below('xs')
                margin-top: rem(20px)
