extends ../layouts/index
include ../blocks/counter
include ../blocks/test

mixin list(pages)
    ul.list
        each page in pages
            li.list__item
                .list__page= page.href
                a.list__link(href='./' + page.href)= page.label


block content
    style.
        .index {
            display: block;
        }

        .list {
            padding-top: 20px;
            padding-left: 0;
            margin: 0;
            box-sizing: content-box;
            display: block;
            list-style: none;
            max-width: 500px;
            width: 100%;
        }

        .list__item {
            border: 1px solid #d0d0d0;
            padding: 10px;
            width: 100%;
            font-size: 14px;
        }

        .list__item + .list__item {
            margin-top: 10px;
        }

        .list__page {
            float: right;
        }

        .list__link {
            text-decoration: none;
            color: #347bbc;
            border-bottom: 1px solid transparent;
            transition: border-color .3s ease
        }

        .list__link:hover {
            border-color: #347bbc;
        }

    .index
        h1 List of pages
        h2 Exam
        +list([
            {label: 'Start page', href: "index_00.html"},
            {label: 'Start page 2', href: "index_01.html"},
            {label: 'Start page 3', href: "index_02.html"},
            {label: 'Single answer', href: "index_03.html"},
            {label: 'Multiple answer', href: "index_04.html"},
            {label: 'Fill-In Single answer', href: "index_05.html"},
            {label: 'Ranking', href: "index_06.html"},
            {label: 'Ending screen', href: "index_07.html"}
        ])
        h2 Mobile
        +list([
            {label: 'Page 1', href: "mobile_01.html"}
        ])

