extends /layouts/index
include /blocks/table-end

block date
    .main__date.desktop.js-font
        strong Date :
        = " "
        | Jan 17, 2017

block font
    +font-switch([11, 12, 14], [12, 13, 14])._white

block content
    .main__inner

        +table-end([
            {
                name: "Free HESI RN Exit Practice",
                status: "Completed",
                score: 275,
                scorePer: '25%'
            }
        ]).js-font

        a.button.button_bold.main__button.main__button_w_130.main__button_fs_14.main__button_mr_10.js-font(href="index_01.html") More Practice
