extends ../layouts/index
include ../blocks/table

block content
    .main__inner

        +table([
            {name: "Free HESI RN Exit Practice", status: "Not Started"}
        ])

        .button.main__button Start Exam
