extends /layouts/index
include /blocks/counter
include /blocks/test

block date
    .main__date.desktop.js-font
        strong Date :
        = " "
        | Jan 17, 2017

block font
    +font-switch([11, 12, 14], [12, 13, 14])._white

block content
    - var question = 'An elderly client experiences nocturia. Which actions should the nurse implement to assist this client? (Select all that apply.)'

    .main__counter
        +counter(
            'Multiple-Response',
            'Select two or more correct answers.'
        )
    .main__test
        +test(101, question, 'checkbox', [
            ['A', 'Ensure adequate night time lighting.'],
            ['B', 'Have a call bell within reach of the client.'],
            ['C', 'Provide warm water over the perineum.'],
            ['D', 'Ensure the availability of a bedpan or toilet.'],
            ['E', 'Ensure adequate fluid intake.']
        ], 'index_05.html')
