extends ../layouts/index
include ../blocks/counter
include ../blocks/test

block font
    +font-switch([11, 13, 15])._white

block content
    - var question = 'A client is prescribed 1200 units of intravenous heparin per hour. The medication is provided as 25,000 units in 2.5 dl (deciliters) of normal saline. Calculate the rate in which the nurse should administer this medication in ml (mililiters) per hour. (Only enter the numeric value.)'

    .main__counter
        +counter(
        'Fill-In Choice Single Answer',
        'This is a fill in the blank question. Please type your answer in the box provided.'
        )
    .main__test
        +test(102, question, 'input'): input.input(type="text", value="12.5", name="answer")

