extends ../layouts/index
include ../blocks/table

block date
    .main__date.js-font
        strong Date :
        = " "
        | Jan 17, 2017

block font
    +font-switch([11, 12, 14], [12, 13, 14])._white

block content
    .main__inner

        +table([
            {name: "Free HESI RN Exit Practice", status: "Not Started"}
        ]).js-font

        label.checkbox.checkbox_without_letter
            input.checkbox__input(type="checkbox")
            .checkbox__label I have read and agree with the terms and conditions

        .button.main__button.main__button_w_130.main__button_mr_10.js-font Start Exam
