extends /layouts/mobile

block prepend header
    - var title = 'Hesi Exam Study - Prepare For Your Hesi Exit Exam | Your Best Grade'

block content
    include /blocks/mobile/banner
    include /blocks/mobile/form
    include /blocks/mobile/info
    include /blocks/mobile/grade
    include /blocks/mobile/options
