extends /layouts/mobile

block prepend header
    - var title = 'Hesi Exam Study - Prepare For Your Hesi Exit Exam | Your Best Grade'

    link(href="https://fonts.googleapis.com/css?family=Raleway:400,600", rel="stylesheet")

block content
    include /blocks/mobile/banner
    include /blocks/mobile/practice
