.calculator

    .calculator__display
        input.calculator__input(type="text", value="0", readonly)

    .calculator__keyboard
        .calculator__keyboard-service
            button.calculator__button.calculator__button_size_big(type="button") BackSpace
            button.calculator__button(type="button") CE
            button.calculator__button(type="button") C


        .calculator__keyboard-row
            button.calculator__button(type="button") MC
            button.calculator__button(type="button") 7
            button.calculator__button(type="button") 8
            button.calculator__button(type="button") 9
            button.calculator__button(type="button") /
            button.calculator__button(type="button") sqrt

        .calculator__keyboard-row
            button.calculator__button(type="button") MR
            button.calculator__button(type="button") 4
            button.calculator__button(type="button") 5
            button.calculator__button(type="button") 6
            button.calculator__button(type="button") *
            button.calculator__button(type="button") %

        .calculator__keyboard-row
            button.calculator__button(type="button") MS
            button.calculator__button(type="button") 1
            button.calculator__button(type="button") 2
            button.calculator__button(type="button") 3
            button.calculator__button(type="button") -
            button.calculator__button(type="button") 1/x

        .calculator__keyboard-row
            button.calculator__button(type="button") M+
            button.calculator__button(type="button") 0
            button.calculator__button(type="button") &#177;
            button.calculator__button(type="button") .
            button.calculator__button(type="button") +
            button.calculator__button(type="button") =
