.calculator.js-calculator

    .calculator__display
        input.calculator__input.js-calculator-display(type="text", value="0", readonly)
        .calculator__memory.js-calculator-memory M

    .calculator__keyboard.js-calculator-keyboard
        .calculator__keyboard-service
            .calculator__button.calculator__button_size_big(data-type="-1", data-value="backspace") BackSpace
            .calculator__button(data-type="-1", data-value="CE") CE
            .calculator__button(data-type="-1", data-value="C") C


        .calculator__keyboard-row
            .calculator__button(data-type="-1", data-value="MC") MC
            .calculator__button( data-type="0", data-value="7") 7
            .calculator__button(data-type="0", data-value="8") 8
            .calculator__button(data-type="0", data-value="9") 9
            .calculator__button(data-type="1", data-value="/") /
            .calculator__button(data-type="1", data-value="sqrt") sqrt

        .calculator__keyboard-row
            .calculator__button(data-type="-1", data-value="MR") MR
            .calculator__button(data-type="0", data-value="4") 4
            .calculator__button(data-type="0", data-value="5") 5
            .calculator__button(data-type="0", data-value="6") 6
            .calculator__button(data-type="1", data-value="*") *
            .calculator__button(data-type="1", data-value="%") %

        .calculator__keyboard-row
            .calculator__button(data-type="-1", data-value="MS") MS
            .calculator__button(data-type="0", data-value="1") 1
            .calculator__button(data-type="0", data-value="2") 2
            .calculator__button(data-type="0", data-value="3") 3
            .calculator__button(data-type="1", data-value="-") -
            .calculator__button(data-type="1", data-value="1/x") 1/x

        .calculator__keyboard-row
            .calculator__button(data-type="-1", data-value="M+") M+
            .calculator__button(data-type="0", data-value="0") 0
            .calculator__button(data-type="0", data-value="±") ±
            .calculator__button(data-type="0", data-value=".") .
            .calculator__button(data-type="1", data-value="+") +
            .calculator__button(data-type="-1", data-value="=") =
