header.header
    .header__inner

        a.header__exit(href="#")
            span.header__exit-text Exit

        .header__user(href="#")
            span.header__user-name James Adam
            span.header__user-divider
                = " "
                | -
                = " "
            span.header__user-email jamesadam@university.edu
