mixin table(rows)
    table.exam-table.exam-table_desktop&attributes(attributes)
        thead
            tr.exam-table__head
                th.exam-table__name Exam Name
                th.exam-table__status Completion Status
                th Exam Options
                th

        tbody

            each row in rows
                tr.exam-table__row
                    td= row.name

                    td= row.status

                    td.exam-table__option
                        label.checkbox.checkbox_without_letter.exam-table__checkbox
                            input.checkbox__input(type="checkbox")
                            .checkbox__label Study Mode
                        | &nbsp;
                        +answer("Inmediate Answers <br>& Rationales").exam-table__info.js-answer

                    td.exam-table__select-cell
                        label.checkbox.checkbox_without_letter.exam-table__checkbox
                            input.checkbox__input(type="checkbox")
                            .checkbox__label
                                | Timed Test Mode
                                = " "
                                span.exam-table__descr
                                    | (Average

                                    select.exam-table__select
                                        option 1
                                        option 2
                                        option 3
                                        option 4

                                    | Minute(s) Per Question)

                            .exam-table-card__descr.exam-table-card__aligner
                                span Average Per Question:
                                br
                                select.exam-table__select
                                    option 1
                                    option 2
                                    option 3
                                    option 4
                                | &nbsp;
                                span Minute(s)


        each row in rows
            .exam-table-card.js-font

                .exam-table-card__item
                    .exam-table-card__label Exam Name
                    .exam-table-card__value= row.name

                .exam-table-card__item
                    .exam-table-card__label Completion Status
                    .exam-table-card__value= row.status

                .exam-table-card__item.exam-table-card__item_no_border
                    .exam-table-card__label Exam Options
                    .exam-table-card__value.exam-table-card__value_border
                        label.checkbox.checkbox_without_letter
                            input.checkbox__input(type="checkbox")
                            .checkbox__label Study Mode
                        | &nbsp;
                        .exam-table-card__info: +answer("Inmediate Answers <br>& Rationales").js-answer

                .exam-table-card__item
                    .exam-table-card__label
                    .exam-table-card__value.exam-table-card__value_block
                        label.checkbox.checkbox_without_letter
                            input.checkbox__input(type="checkbox")
                            .checkbox__label Timed Test Mode
                        | &nbsp;
                        .exam-table-card__aligner.exam-table-card__descr
                            span Average Per Question:
                            br
                            select.exam-table__select
                                option 1
                                option 2
                                option 3
                                option 4
                            | &nbsp;
                            span Minute(s)




