mixin table(rows)
    table.exam-table.exam-table_desktop&attributes(attributes)
        thead
            tr.exam-table__head
                th.exam-table__name Exam Name
                th.exam-table__status Completion Status
                th Exam Options
                th

        tbody

            each row in rows
                tr.exam-table__row
                    td= row.name

                    td= row.status

                    td.exam-table__option
                        label.checkbox.checkbox_without_letter.exam-table__checkbox
                            input.checkbox__input(type="checkbox")
                            .checkbox__label Study Mode
                        | &nbsp;
                        +answer("Inmediate Answers <br>& Rationales").exam-table__info

                    td.exam-table__select-cell
                        label.checkbox.checkbox_without_letter.exam-table__checkbox
                            input.checkbox__input(type="checkbox")
                            .checkbox__label
                                span Timed Test Mode

                                span
                                    | (Average

                                    select.exam-table__select
                                        option 1
                                        option 2
                                        option 3
                                        option 4

                                    | Minute(s) Per Question)

    .exam-table-card.js-font
        .exam-table-card__title Exam Name

        each row in rows
            .exam-table-card__row= row.name

            .exam-table-card__item
                .exam-table-card__label Completion Status
                .exam-table-card__value= row.status

            .exam-table-card__item
                .exam-table-card__label Exam Options
                .exam-table-card__value
                    label.checkbox.checkbox_without_letter.exam-table__checkbox
                        input.checkbox__input(type="checkbox")
                        .checkbox__label Study Mode
                    | &nbsp;
                    +answer("Inmediate Answers <br>& Rationales").exam-table__info.js-answer

            .exam-table-card__item.exam-table-card__button
                .exam-table-card__time
                    label.checkbox.checkbox_without_letter
                        input.checkbox__input(type="checkbox")
                        .checkbox__label
                            span Timed Test Mode

                            span
                                | (Average

                                select.exam-table__select
                                    option 1
                                    option 2
                                    option 3
                                    option 4

                                | Minute(s) Per Question)




