mixin table(rows)
    table.exam-table&attributes(attributes)
        thead
            tr.exam-table__head
                th.exam-table__name Exam Name
                th.exam-table__status Completion Status
                th Exam Options
                th

        tbody

            each row in rows
                tr.exam-table__row
                    td= row.name

                    td= row.status

                    td
                        label.checkbox.checkbox_without_letter.exam-table__checkbox
                            input.checkbox__input(type="checkbox")
                            .checkbox__label Study Mode

                        +answer("Inmediate Answers <br>& Rationales").exam-table__info

                    td.exam-table__select-cell
                        label.checkbox.checkbox_without_letter.exam-table__checkbox
                            input.checkbox__input(type="checkbox")
                            .checkbox__label
                                | Timed Test Mode (Average

                                select.exam-table__select
                                    option 1
                                    option 2
                                    option 3
                                    option 4

                                | Minute(s) Per Question)


