mixin test(count, question, type, answers, nextPage)
    form.test.js-question-form(href="#")
        .slider.js-slider(data-value="75")
            .slider__point.ui-slider-handle
                span.slider__value.js-slider-value

        .test__content
            .test__count.js-font #{count} of 180

            .js-font
                .test__question= question

                if type === "radio" || type === "checkbox"
                    each answer, index in answers
                        +option(type, answer).test__answer(name="answer", tabindex= index + 1)

                if type === "block"
                    block

        .test__control
            .test__control-links
                a.test__review.js-font(href="#") Mark for Review
                a.test__feedback.js-font(href="#") Feedback / Problems

            .test__control-buttons
                a.button.test__button.js-question-submit.js-font(href= nextPage || '#') Submit & Continue
                a.button.test__button.js-font(href="index_07.html") Submit & Pause/Leave Exam
