footer.footer

    ul.footer__social
        li: a.footer__social-link._facebook(href="http://www.facebook.com/hesistudy")
        li: a.footer__social-link._twitter(href="http://plus.google.com/+YourBestGrade")
        li: a.footer__social-link._google(href="http://www.twitter.com/hesistudy")

    p.footer__text
        | Copyright © 2017 Your Best Grade, Inc. All Rights Reserved.
        br
        | HESI is a registered trademark of Elsevier Inc., creator and
        br
        | owner of the official HESI Examinations and Review
        br
        | Materials. Elsevier is not involved in the production of,
        br
        | and does not endorse, this website or its content.

    .footer__nav
        a.footer__link(href="https://www.yourbestgrade.com/hesi/terms_of_use") Terms of Use
        a.footer__link(href="https://www.yourbestgrade.com/hesi/privacy_policy") Privacy Policy

    .footer__icons
