section.form

    h2.form__title FREE!
    .form__text Get My Free Hesi Exam Study Tips

    form.form__controls
        .form__item
            .form__icon._user
            input.form__input(type="text", placeholder="Name")

        .form__item
            .form__icon._mail
            input.form__input(type="text", placeholder="Email")

        .form__item
            button.form__button(type="submit") Click Here to Continue
