section.section.general

    h2.section__title.general__title HESI RN EXIT STUDY

    h3.section__subtitle.general__subtitle Not ready for the HESI Exit Exam yet?

    .general__text
        | No worries! Your Best Grade has created a package of study materials which will help you
        | prepare efficiently in order to help you pass the HESI Exit Exam.

    .general__text
        | Use the links below to find our HESI Exam Review Study Guide. In addition, you can find
        | HESI Exam Study Notes and our preferred books to study for all HESI question topics.
        | You are guaranteed to study exactly the right things in order to pass your HESI Exit
        | with a great score!

    .general__text
        | Moreover, members have access to an exclusive forum where you can privately communicate
        | with current HESI Exam students and previous HESI testees who know exactly what to expect.


    .general__options

        a.option(href="https://www.yourbestgrade.com/hesi/review")
            .option__icon._review: .option__separator
            .option__label Hesi Exam Review / Study Tips

        a.option(href="https://www.yourbestgrade.com/hesi/forums")
            .option__icon._forum: .option__separator
            .option__label Member's Study Forum

        a.option(href="https://www.yourbestgrade.com/hesi/resources")
            .option__icon._guide: .option__separator
            .option__label Hesi Exam Study Guide / Books

    img.general__img(src=require("../../../images/general.jpg"))

    h2.section__title.general__title GENERAL INFORMATION

    h3.section__subtitle.general__subtitle._left HESI Exam Brief

    .general__text
        | The HESI Exam consists primarily of Multiple Choice (MC) questions. Most HESI
        | questions have 4 answers from which only one is the correct answer. Others have 5,
        | with multiple answers being correct. Some MC questions come with supplements. A
        | screen pops up in your HESI testing window where you can, for example, see client
        | prescriptions, diagnostics and flow sheets.

    .general__text
        | Next, there are some open questions, which are calculation questions. You need to
        | calculate a certain number and type it in the answer box.

    .general__text
        | Furthermore, during your HESI Exam, there might be a question or two asking you to
        | sequence certain procedures. For example, a nurse prepares to change the primary IV
        | tubing (for a client receiving a continuous infusion of normal saline). You will
        | need to ...

    .general__more: a(href="https://www.yourbestgrade.com/hesi/brief") read more


