section.section.info

    h2.section__title
        | Welcome!
        br
        | Need Hesi Exam Help?

    h3.section__subtitle.info__subtitle Online practice and study for the Hesi RN Exit Exam 2016 and 2017

    p.info__text
        | Are you feeling nervous about the Hesi Exit Exam? Are you horrified by not knowing what
        | is going to be on it? Did you already fail the Hesi Test once or more?

    p.info__text
        | The
        = " "
        span.bold best preparation
        = " "
        | for the Hesi RN Exit Exam is to practice with the exact kind of questions you will
        | encounter on your exam.

    .info__badge
        a.link.info__link(href="javascript:void(0)") Click here for a free Hesi RN Practice Exam

    p.info__text
        | The Hesi Exam requires substantial critical thinking. Many students have reported that
        | they were overwhelmed by the real Hesi Exit Exam due to their insufficient practice
        | opportunities.

    .info__badge
        a.link.info__link(href="javascript:void(0)")
            | Try our practice exams today and find out
            br
            | if you are ready for the Hesi RN Exit Exam!

    p.info__text
        | Practice with similar Hesi Exit questions and enter your Hesi Exit Exam with
        | confidence on testing day.

