ul.menu
    li: a.menu__item(href="javascript:void(0)") Home page
    li: a.menu__item(href="javascript:void(0)") Practice
    li: a.menu__item(href="javascript:void(0)") Member login
    li: a.menu__item(href="javascript:void(0)") Register
    li: a.menu__item(href="javascript:void(0)") Contact
