section.options

    .option
        .option__icon._practice: .option__separator
        .option__label Free Hesi RN Exit Practice Exam


    .option
        .option__icon._more-practice: .option__separator
        .option__label More Hesi RN Exit Practice Exams

    .option
        .option__icon._admission: .option__separator
        .option__label Admission (A2) and Specialty Exams

    .option
        .option__icon._review: .option__separator
        .option__label Hesi Exam Review / Study Tips

    .option
        .option__icon._forum: .option__separator
        .option__label Members Study Forum

    .option
        .option__icon._guide: .option__separator
        .option__label Hesi Study Guide / Books
