section.other

    .other__title
        | OTHER
        br
        | HESI EXAMS

    .other__info
        | Not looking for HESI RN Exit
        br
        | Exam Practice? Find your HESI
        br
        | Exam below!

    .other__option
        .other__option-label Admission (A2) Practice

    .other__option
        .other__option-label PN Exit Exam Practice
        .other__option-info
            .other__option-title Need to prepare for the Hesi PN Exit Exam?

            .other__option-text
                | Although most of our practice exams are geared towards the Hesi RN Exit Exam, we
                | do offer a limited amount of practice exams geared towards the Hesi PN Exit Exam.

            .other__option-text
                | Moreover, our test-taking tips apply directly to the Hesi PN Exit Exam. Both the
                | RN and PN tests require you to navigate through the Hesi style, which is
                | extensively covered in our Hesi Exam Review Guide.

            .other__option-text
                | Please send an email to lpn@yourbestgrade.com if you have any questions.

    .other__option
        .other__option-label ATI Exam Practice / NLN Testing Practice


