section.other

    .other__title
        | OTHER
        br
        | HESI EXAMS

    .other__info
        | Not looking for HESI RN Exit
        br
        | Exam Practice? Find your HESI
        br
        | Exam below!

    .other__option
        .other__option-label.js-toggle
            .other__option-link Admission (A2) Practice

        .js-toggle-container(hidden)
            .other__option-info

                .other__option-text
                    | Thank you for your interest in Hesi A2 Practice.

                .other__option-text
                    | Unfortunately, as of today, we do not offer any A2 Practice Exams on this
                    | website.

                .other__option-text
                    | Please checkout www.YourBestGrade.com/a2/

                .other__option-text
                    | We wish you all the best in preparing for this exam, and please come back to
                    | this website once you are an admitted nursing student!

    .other__option
        .other__option-label.js-toggle
            .other__option-link PN Exit Exam Practice

        .js-toggle-container(hidden)
            .other__option-info
                .other__option-title Need to prepare for the Hesi PN Exit Exam?

                .other__option-text
                    | Although most of our practice exams are geared towards the Hesi RN Exit Exam, we
                    | do offer a limited amount of practice exams geared towards the Hesi PN Exit Exam.

                .other__option-text
                    | Moreover, our test-taking tips apply directly to the Hesi PN Exit Exam. Both the
                    | RN and PN tests require you to navigate through the Hesi style, which is
                    | extensively covered in our Hesi Exam Review Guide.

                .other__option-text
                    | Please send an email to lpn@yourbestgrade.com if you have any questions.

    .other__option.js-toggle
        .other__option-label.js-toggle
            a.other__option-link(href="https://www.yourbestgrade.com/hesi/other_tests") ATI Exam Practice / NLN Testing Practice

        .js-toggle-container(hidden)


