section.practice
    .practice__inner
        .practice__title
            | HESI EXAM
            br
            | PRACTICE

        .practice__item.js-toggle
            .practice__item-label HESI RN Exit Practice Test 1

        .practice__item.js-toggle
            .practice__item-label HESI RN Exit Practice Test 2

        .practice__item.js-toggle
            .practice__item-label HESI RN Exit Practice Test 3

        .practice__item.js-toggle
            .practice__item-label HESI RN Exit Practice Test 4

            .practice__option.js-toggle
                .practice__option-label: span More HESI Exit Practice Exams

            .practice__option.js-toggle
                .practice__option-label: span HESI Specialty Exam Practice

                .practice__info
                    .practice__info-title Need to prepare for the HESI Specialty Exams?

                    .practice__info-text
                        | Although most of our practice exams are geared towards the HESI Exit
                        | Exam, we do offer a limited amount of practice exams geared towards the
                        | HESI Specialty Exams.

                    .practice__info-text
                        | The HESI Specialty / Subject Areas available are:

                    .practice__info-text
                        | - Critical Thinking.
                        br
                        | - Adult Medical-Surgical.
                        br
                        | - Fundamentals of Nursing.
                        br
                        | - Maternity Nursing (Maternal Newborn).
                        br
                        | - Pediatric Nursing (Nursing Care of Children).
                        br
                        | - Mental Health.
                        br
                        | - Community Health.
                        br
                        | - Pharmacology.
                        br
                        | - Critical Care.
                        br
                        | - Nutrition.
                        br
                        | - Nursing Leadership / Management.
                        br
                        | - Pathophysiology.
                        br
                        | - Gerontology.
                        br
                        | - Health Assessment.
