section.practice
    .practice__inner
        .practice__title
            | HESI EXAM
            br
            | PRACTICE

        .practice__item
            a.practice__item-label(href="https://www.yourbestgrade.com/hesi/tests/2/tos/")
                | HESI RN Exit Practice Test 1

        .practice__item
            a.practice__item-label(href="https://www.yourbestgrade.com/hesi/tests/3/tos/")
                | HESI RN Exit Practice Test 2

        .practice__item
            a.practice__item-label(href="https://www.yourbestgrade.com/hesi/tests/4/tos/")
                | HESI RN Exit Practice Test 3

        .practice__item
            a.practice__item-label(href="https://www.yourbestgrade.com/hesi/tests/5/tos/")
                | HESI RN Exit Practice Test 4

            .practice__option
                a.practice__option-label(href="https://www.yourbestgrade.com/hesi/members_practice")
                    span More HESI Exit Practice Exams

            .practice__option
                .practice__option-label.js-toggle
                    span HESI Specialty Exam Practice

                .js-toggle-container(hidden)
                    .practice__info
                        .practice__info-title Need to prepare for the HESI Specialty Exams?

                        .practice__info-text
                            | Although most of our practice exams are geared towards the HESI Exit
                            | Exam, we do offer a limited amount of practice exams geared towards the
                            | HESI Specialty Exams.

                        .practice__info-text
                            | The HESI Specialty / Subject Areas available are:

                        .practice__info-text
                            .practice__info-item Critical Thinking.
                            .practice__info-item Adult Medical-Surgical.
                            .practice__info-item Fundamentals of Nursing.
                            .practice__info-item Maternity Nursing (Maternal Newborn).
                            .practice__info-item Pediatric Nursing (Nursing Care of Children).
                            .practice__info-item Mental Health.
                            .practice__info-item Community Health.
                            .practice__info-item Pharmacology.
                            .practice__info-item Critical Care.
                            .practice__info-item Nutrition.
                            .practice__info-item Nursing Leadership / Management.
                            .practice__info-item Pathophysiology.
                            .practice__info-item Gerontology.
                            .practice__info-item Health Assessment.
