.welcome
    padding-top: rem(17px)

    &__info
        padding: rem(17px) rem(12px)
        border: 1px solid #dfdfdf
        min-height: rem(303px)

    &__title
        padding-bottom: 3px
        text-align: center
        font-weight: 700

    &__text
        color: $font-color

    &__button
        padding: 0 41px
