@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/sprite'

@import '~normalize.css/normalize.css';
@import 'base/common';
@import 'base/layout';

@import '~swiper/dist/css/swiper.min.css';

@import 'components/**';

@import 'blocks/**';

@import 'pages/**';
