include /helpers/variables
include /helpers/mixins

doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")

        +styles(["common"])

        title HESI exam study
    body
        .page
            .page__header
                include /blocks/header

            .page__container
                .page__content.container
                    .main
                        .main__header
                            img.main__logo(src=require("../../images/logo.png"))

                            block date

                        .main__outer
                            block content

            .page__footer
                include /blocks/footer

        +scripts(["common"])
