include /helpers/variables
include /helpers/mixins

doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")

        +styles(["mobile"])

        block header
            title= title
    body.page

        include /blocks/mobile/header

        main
            block content

        include /blocks/mobile/footer

        if !IS_PROD
            +scripts(["mobile"])

        script.
            var menu = document.querySelector('.js-menu');
            var open = document.querySelector('.js-menu-open');
            var close = document.querySelector('.js-menu-close');
            var outTouch = function () {
                menu.classList.remove('_open');
                document.removeEventListener('touchstart', outTouch, false);
            }

            menu.addEventListener('touchstart', function (event) {
                event.stopPropagation();
            })

            open.addEventListener('touchstart', function (event) {
                event.stopPropagation();
                menu.classList.add('_open');
            }, false)

            close.addEventListener('touchstart', function (event) {
                event.stopPropagation();
                menu.classList.remove('_open');
            }, false)
