.footer
    color: #ffffff
    padding: rem(70px) rem(40px) rem(50px)
    background-image: linear-gradient(to top, #0e6dc0, #2193f8)

    &__social
        display: flex
        justify-content: center
        margin: 0
        margin-bottom: rem(30px)
        padding: 0
        list-style: none

        li:not(:first-child)
            margin-left: rem(25px)

    &__social-link
        display: block

        &._google
            sprite2x-rem($google)

        &._twitter
            sprite2x-rem($twitter)

        &._facebook
            sprite2x-rem($facebook)

    &__text
        margin: 0
        font-family: 'Montserrat', sans-serif
        font-weight: 400
        text-align: center
        line-height: rem(23px)
        fs: rem(13px)

    &__nav
        margin-top: rem(26px)
        display: flex
        justify-content: center

    &__link
        @extend .link

        &:not(:first-child)
            relative()
            margin-left: rem(20px)

            &:before
                absolute: top 0 left rem(-10px)
                size: 1px 100%
                background-color: #ffffff
                content: ''

    &__icons
        margin-top: rem(40px)
        display: flex
        justify-content: center

        &:before
            margin-top: rem(12px)
            margin-right: rem(10px)
            content: ''
            display: block
            sprite2x-rem($bbb)

        &:after
            content: ''
            display: block
            sprite2x-rem($norton)
