.general
    relative()
    padding-bottom: rem(180px) !important
    background-color: #f0f0f0
    color: #404040

    &__title
        padding-top: rem(60px)
        padding-bottom: rem(22px)

    &__subtitle
        padding-bottom: 0

        &._left
            text-align: left

    &__text
        padding-top: rem(33px)
        font-family: 'Montserrat', sans-serif
        font-weight: 300
        fs: rem(21px)
        line-height: 1.4

    &__options
        margin-top: rem(85px)
        margin-left: rem(-40px)
        margin-right: rem(-40px)

    &__img
        margin-top: rem(50px)
        size: rem(395px) rem(188px)

    &__more
        relative()
        padding-left: rem(20px)
        absolute: bottom rem(60px) right rem(47px)
        fs: rem(21px)
        color: #404040
        text-decoration: none

        &:before
            content: ''
            absolute: top rem(6px) left 0
            sprite2x-rem($quote_big)
