.grade
    padding: rem(40px) rem(20px) rem(52px)
    background-image: linear-gradient(to top, #065ba7, #2193f8)

    &__title
        margin: 0
        font-family: 'Montserrat', sans-serif
        color: #ffffff
        text-align: center
        font-weight: 700
        fs: rem(49px)

    &__text
        @extend .grade__title
        margin-top: rem(12px)
        fs: rem(24px)
        line-height: 1.25
        font-weight: 400
