.header
    relative()
    padding: rem(3px) rem(38px)
    height: rem(106px)
    background-color: #f4f4ee

    &__logo
        display: block
        size: rem(241px) rem(94px)

    &__toggle
        relative()
        margin: rem(30px) 0
        float: right
        size: rem(46px) rem(39px)
        button-reset()

        &:before
            absolute top 0 left 0
            size: 100% rem(7px)
            background-color: #34495e
            border-radius: 2px
            content: ''
            box-shadow: 0 rem(16px) #34495e, 0 rem(32px) #34495e

    &__menu
        fixed: top 0 right 0 left 0 bottom 0
        z-index: 100
        transform: translateX(100%)
        transition: transform .3s ease
        will-change: transform

        &._open
            transform: translateX(0)
