.info

    &.section
        padding: rem(34px) rem(10px) rem(18px)

    &__subtitle
        padding: 0 rem(20px)

    &__text
        font-family: 'Montserrat', sans-serif
        font-weight: 300
        margin-top: rem(31px)
        padding: 0 rem(32px)
        line-height: 1.55
        fs: rem(20px)

        .bold
            font-weight: 700

    &__badge
        margin-top: rem(38px)
        padding: rem(16px) 0
        background-color: #3c72b1
        border-radius: 4px
        text-align: center

    &__link
        display: inline
        fs: rem(20px)
        line-height: rem(24px)
        font-weight: 300
