border-box-html()

html
body
    height: 100%

html
    color: $font-color
    font-family: $font-stack
    background-color: $page-bg-color
    letter-spacing: $font-spacing
    -webkit-font-smoothing: antialiased
