border-box-html()

input
button
    outline: none

html
body
    height: 100%

html
    color: #000
    font-family: $font-stack
    background-color: $page-bg-color
    letter-spacing: $font-spacing
    -webkit-font-smoothing: antialiased
